@model IOrderedEnumerable<EduClass.Entities.File>

@using EduClass.Entities

@{
    ViewBag.Title = "Libreria de Archivos";
}

<div class="row">
    <div class="col-sm-8 col-md-9 col-lg-10">
        <div class="well well-asset-options clearfix">
            <div class="btn-toolbar btn-toolbar-media-manager pull-left" role="toolbar">
                <div class="btn-group" role="group">
                @using (Html.BeginForm("ShareMoreFiles", "FilesLibrary", FormMethod.Post, htmlAttributes: new { @Id = "frmShareFiles" }))
                {
                    @Html.AntiForgeryToken()
                    <input id="seleccionados" name="seleccionados" hidden />
                    <button id="compartirArchivos" type="submit" class="btn btn-default"><i class="fa fa-share"></i> Compartir</button>
                    
                }
                    
                </div>
                <div class="btn-group" role="group">
                    @using (Html.BeginForm("DownloadMoreFiles", "FilesLibrary", FormMethod.Post, htmlAttributes: new { @Id = "frmShareFiles" }))
                    {
                        @Html.AntiForgeryToken()
                        <input id="seleccionadosDescargar" name="seleccionadosDescargar" hidden />
                        <button id="descargarArchivos" type="submit" class="btn btn-default"><i class="fa fa-download"></i> Descargar</button>

                    }
                </div>
                <div class="btn-group" role="group">
                    @using (Html.BeginForm("DeleteMoreFiles", "FilesLibrary", FormMethod.Post, htmlAttributes: new { @Id = "frmShareFiles" }))
                    {
                        @Html.AntiForgeryToken()
                        <input id="seleccionadosBorrar" name="seleccionadosBorrar" hidden />
                        <button id="borrarArchivos" type="submit" class="btn btn-default"><i class="fa fa-trash"></i> Borrar</button>

                    }
                </div>
            </div><!-- btn-toolbar -->
            <div class="btn-toolbar btn-toolbar-media-manager pull-left" role="toolbar">
                <div class="btn-group" role="group">
                    <a href="@Url.Action("Index", "FilesLibrary", new { tipo = "todo" })" class="btn btn-default"> Todo</a>
                    <a href="@Url.Action("Index", "FilesLibrary", new { tipo = "imagenes" })" class="btn btn-default"> Imágenes</a>
                    <a href="@Url.Action("Index", "FilesLibrary", new { tipo = "pdf" })" class="btn btn-default"> PDF</a>
                    <a href="@Url.Action("Index", "FilesLibrary", new { tipo = "documentos" })" class="btn btn-default"> Documentos</a>
                    <a href="@Url.Action("Index", "FilesLibrary", new { tipo = "audio" })" class="btn btn-default"> Audio</a>
                </div>
            </div><!-- btn-toolbar -->

        </div>

        <div class="row filemanager">
            @foreach (var elemento in Model)
            {
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 video">
                    <div class="thmb">
                        <label class="ckbox">
                            <input type="checkbox" name="archivo" value="@elemento.Id"><span></span>
                        </label>
                        <div class="btn-group fm-group">
                            <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right fm-menu" role="menu">

                                @using (Html.BeginForm("ShareFile", "FilesLibrary", FormMethod.Post, htmlAttributes: new { @Id = elemento.Id }))
                                {
                                    @Html.AntiForgeryToken()
                                    <li><input type="hidden" name="fileId" value="@elemento.Id" /></li>
                                    <li><button type="submit" class="btn btn-link"><i class="fa fa-share"></i>Compartir</button> </li>
                                }
                                
                                @using (Html.BeginForm("DownloadFile", "FilesLibrary", FormMethod.Post, htmlAttributes: new { @Id = elemento.Id }))
                                {
                                    @Html.AntiForgeryToken()
                                    <li><input type="hidden" name="fileId" value="@elemento.Id" /></li>
                                    <li><button type="submit" class="btn btn-link"><i class="fa fa-download"></i>Descargar</button> </li>
                                }
                                @using (Html.BeginForm("DeleteFile", "FilesLibrary", FormMethod.Post, htmlAttributes: new { @Id = elemento.Id }))
                                {
                                    @Html.AntiForgeryToken()
                                    <li><input type="hidden" name="fileId" value="@elemento.Id" /></li>
                                    <li><button type="submit" onclick="return confirm('Esta accion borrara tambien los Post asociados, esta seguro?');" class="btn btn-link"><i class="fa fa-trash"></i>Borrar</button> </li>
                                }
                            </ul>
                        </div><!-- btn-group -->
                        <div class="thmb-prev">
                        @if (System.Web.MimeMapping.GetMimeMapping(elemento.Name).Contains("image"))
                        {
                            <img src="@Url.Content(elemento.UrlFile)" class="img-responsive" alt="" />
                        }
                        else if (System.Web.MimeMapping.GetMimeMapping(elemento.Name).Contains("audio"))
                        {
                            <img src="@Url.Content("~/Content/images/images_mp3.png")" class="img-responsive" alt="" />
                        }
                        else if (System.Web.MimeMapping.GetMimeMapping(elemento.Name).Contains("pdf"))
                        {
                            <img src="@Url.Content("~/Content/images/images_pdf.png")" class="img-responsive" alt="" />
                        }
                        else if (System.Web.MimeMapping.GetMimeMapping(elemento.Name).Contains("office"))
                        {
                            <img src="@Url.Content("~/Content/images/images_doc.png")" class="img-responsive" alt="" />
                        }
                        else
                        {
                            <img src="@Url.Content("~/Content/images/images_file.png")" class="img-responsive" alt="" />
                        }

                        </div>
                        <h5 class="fm-title"><a href="">@elemento.Name</a></h5>
                        <small class="text-muted">Subido: @elemento.CreatedAt</small>
                    </div><!-- thmb -->
                </div><!-- col-xs-6 -->
            }

        </div><!-- row -->
    </div><!-- col-sm-9 -->
    <div class="col-sm-4 col-md-3 col-lg-2">
        <div class="fm-sidebar">

            
            
            <a class="btn btn-danger btn-quirk btn-block mb20"  href="@Url.Action("UploadFile", "FilesLibrary")">Subir Archivo</a>

            <br>

            <a class="btn btn-success btn-quirk btn-block mb20" href="@Url.Action("Connect", "FilesLibrary")"><i class="fa fa-dropbox"></i><span>Importar desde Dropbox</span></a>

            <br>
            
            

            <div class="mb30 clearfix"></div>

        </div>
    </div><!-- col-sm-3 -->
</div>


@Scripts.Render("~/bundles/jquery")
@{var sessionMessage = EduClass.Web.Infrastructure.Sessions.MessageSession.GetMessage(); }
<script src="~/Scripts/app/helpersSite.js"></script>
<script>
    jQuery(document).ready(function () {

        'use strict';

        var message = "@Html.Raw(sessionMessage.ToString())";
        if (message != "") {
            showMessageJS(message);
        }

       

        $('#compartirArchivos').click(function () {
            var checkValues = $('input[name=archivo]:checked').map(function () {
                return $(this).val();
            }).get();
            $('#seleccionados').val(checkValues);
        });

        $('#borrarArchivos').click(function () {
            var checkValues = $('input[name=archivo]:checked').map(function () {
                return $(this).val();
            }).get();
            $('#seleccionadosBorrar').val(checkValues);
        });

        $('#descargarArchivos').click(function () {
            var checkValues = $('input[name=archivo]:checked').map(function () {
                return $(this).val();
            }).get();
            $('#seleccionadosDescargar').val(checkValues);
        });

        jQuery('.thmb').hover(function () {
            var t = jQuery(this);
            t.find('.ckbox').show();
            t.find('.fm-group').show();
        }, function () {
            var t = jQuery(this);
            if (!t.closest('.thmb').hasClass('checked')) {
                t.find('.ckbox').hide();
                t.find('.fm-group').hide();
            }
        });

        jQuery('.ckbox').each(function () {
            var t = jQuery(this);
            var parent = t.parent();
            if (t.find('input').is(':checked')) {
                t.show();
                parent.find('.fm-group').show();
                parent.addClass('checked');
            }
        });


        jQuery('.ckbox').click(function () {
            var t = jQuery(this);
            if (!t.find('input').is(':checked')) {
                t.closest('.thmb').removeClass('checked');
                enable_itemopt(false);
            } else {
                t.closest('.thmb').addClass('checked');
                enable_itemopt(true);
            }
        });

        jQuery('#selectall').click(function () {
            if (jQuery(this).is(':checked')) {
                jQuery('.thmb').each(function () {
                    jQuery(this).find('input').attr('checked', true);
                    jQuery(this).addClass('checked');
                    jQuery(this).find('.ckbox, .fm-group').show();
                });
                enable_itemopt(true);
            } else {
                jQuery('.thmb').each(function () {
                    jQuery(this).find('input').attr('checked', false);
                    jQuery(this).removeClass('checked');
                    jQuery(this).find('.ckbox, .fm-group').hide();
                });
                enable_itemopt(false);
            }
        });

        function enable_itemopt(enable) {
            if (enable) {
                jQuery('.itemopt').removeClass('disabled');
            } else {

                // check all thumbs if no remaining checks
                // before we can disabled the options
                var ch = false;
                jQuery('.thmb').each(function () {
                    if (jQuery(this).hasClass('checked'))
                        ch = true;
                });

                if (!ch)
                    jQuery('.itemopt').addClass('disabled');
            }
        }

        jQuery("a[data-rel^='prettyPhoto']").prettyPhoto();

    });

</script>