@model IEnumerable<EduClass.Entities.Post>

@{
    
    ViewBag.Title = "Línea de tiempo";
    var earlierDate = DateTime.Now.AddDays(1).ToString("dd/MM/yyyy");
    var postTypeFlag = 1;
    var avatar = String.Empty;
    var first = true;
    var currentUser = EduClass.Web.Infrastructure.Sessions.UserSession.GetCurrentUser();
}

<div>   
<div class="col-sm-8 col-md-9 col-lg-10">
    <div class="timeline-wrapper">

        @{var meAvatar = String.Empty;}

        @if (currentUser.Avatar == null) { meAvatar = "~/Content/images/default.png"; }
        else { meAvatar = currentUser.Avatar.UrlPhoto; }

        <div class="panel" style="height:200px">
            <div class="panel-body">
                <div class="form-horizontal">
                    @using (Html.BeginForm("Post", "Board"))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <h4>Escribe un post</h4>
                        </div>
                        <div class="row">
                            <input type="text" name="Title" class="form-control" placeholder="Título">
                        </div>

                        <div class="row" style="margin-top: 10px">
                            <textarea type="text" name="Content" class="form-control" placeholder="Contenido"></textarea>
                            <select name="PostType" class="hidden">
                                @foreach (var pType in (Array)ViewBag.PostTypeList)
                                {
                                    <option value="@postTypeFlag">@pType</option>
                                    { postTypeFlag++; }
                                }
                            </select>
                        </div>
                        
                        

                        <div class="row" style="margin-top: 10px">
                            <button class="btn btn-primary btn-xs pull-right" style="padding-left: 20px; padding-right: 20px">Post</button>
                        </div>

                    }

                </div>
            </div>
        </div><!-- panel panel-post -->
    @foreach (var item in Model)
    {
        if (!earlierDate.Equals(item.CreatedAt.ToString("dd/MM/yyyy")))
        {
            <div class="timeline-date">@item.CreatedAt.ToLongDateString()</div>

            { earlierDate = item.CreatedAt.ToString("dd/MM/yyyy"); }
        }
        
        if (item.Person.Avatar == null) { avatar = "~/Content/images/default.png"; }
        else { avatar = item.Person.Avatar.UrlPhoto; }

        <div class="panel panel-post-item status">
            <div class="panel-heading">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img alt="" src="@Url.Content(avatar)" class="media-object img-circle">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">@item.Person.FirstName @item.Person.LastName</h4>
                        <p class="media-usermeta">
                            <span class="media-time">@item.CreatedAt.ToString("hh:mm tt")</span>
                            
                        </p>
                    </div>
                </div>
                <!-- media -->
                @if (item.PersonId == EduClass.Web.Infrastructure.Sessions.UserSession.GetCurrentUser().Id)
                {
                    <ul class="panel-options">
                        <li>
                            <a class="tooltips" href="@Url.Action("RemovePost", "Board", new { Id = item.Id })" data-toggle="tooltip" title="" data-original-title="Remove">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </li>
                    </ul>
                }
            </div><!-- panel-heading -->
            <div class="panel-body">
                <strong>@item.Title</strong>
                <p>@item.Content</p>
                <ul class="list-unstyled list-attachments">
                    @foreach (var archivo in item.Files)
                    {
                        using (Html.BeginForm("DownloadFile", "FilesLibrary", FormMethod.Post, htmlAttributes: new { @Id = archivo.Id }))
                        {
                            @Html.AntiForgeryToken()
                            <li><input type="hidden" name="fileId" value="@archivo.Id" /></li>
                            <li><i class="fa fa-file"></i><button type="submit" class="btn btn-link">@archivo.Name</button> </li>
                        }
                   
                    }
                </ul>
            </div>
            <div class="panel-footer">
                <ul class="list-inline">
                    <li><a data-target="#comment-@item.Id" data-toggle="collapse"><i class="glyphicon glyphicon-comment"></i> Comentarios (@item.Replays.Count())</a></li>
                </ul>
            </div>
            <div class="collapse" id="comment-@item.Id">
                <ul class="media-list">
                    @foreach (var reply in item.Replays)
                    {
                        var avatarComment = "~/Content/images/default.png";

                        if (reply.Person.Avatar != null) { avatarComment = reply.Person.Avatar.UrlPhoto; }

                        <li class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="@Url.Content(avatarComment)" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">@reply.Person.FirstName @reply.Person.LastName<small>@(reply.CreatedAt - item.CreatedAt)</small></h4>
                                @reply.Content
                            </div>
                            <div class="media-right">
                                @if (item.PersonId == EduClass.Web.Infrastructure.Sessions.UserSession.GetCurrentUser().Id)
                                {
                                    
                                    <a class="tooltips" href="@Url.Action("RemoveReply", "Board", new { id = reply.Id })" data-toggle="tooltip" title="" data-original-title="Remove">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                }
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="form-group">
                
                @using (Html.BeginForm("Reply", "Board", FormMethod.Post, htmlAttributes: new { @Id = "form-replay-"+item.Id }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="postId" value="@item.Id" />
                    <input type="text" name="content" class="form-control btnSubmit" data-Id="@item.Id" placeholder="Escribe algún comentario">
                }
            </div>
        </div><!-- panel panel-post -->
    }
    </div> 

        <div class="timeline-date"><a href="">Load more...</a></div>

    </div><!-- timeline-wrapper -->
</div>
