
@model IOrderedEnumerable<EduClass.Entities.Mail>
@using EduClass.Web.Infrastructure.Sessions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Emails";
}

<div class="mainpanel">
    <div class="emailcontent">
        <div class="email-options">
            <div class="settings">
                <a href="SendEmail">
                    <input type="button" class="btn btn-danger btn-sm pull-left" value="Nuevo Mensaje" />
                </a>
               
                <div class="btn-group mr5">
                    
                    <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">
                        Recibidos <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul role="menu" class="dropdown-menu dm-icon pull-right">
                        <li><a href="@Url.Action("Index", "Mail", new { type = "Recibidos" })"><i class="fa fa-reply-all"></i> Recibidos</a></li>
                        <li><a href="@Url.Action("Index", "Mail", new { type = "Enviados" })"><i class="fa fa-arrow-right"></i> Enviados</a></li>
                        <li><a href="@Url.Action("Index", "Mail", new { type = "Borrados" })"><i class="fa fa-trash"></i> Borrados</a></li>
                    </ul>
                </div>
                
                    <a href="Index" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="Recargar"><i class="fa fa-refresh"></i></a>
                    <a href="" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="Mover a la papelera"><i class="fa fa-trash"></i></a>
                

            </div>

            <label class="ckbox">
                <input type="checkbox"><span></span>
            </label>
        </div><!-- email-options -->
        <div class="list-group">
        
        @foreach (var elemento in Model)
        {
            string leido = null;
            if (elemento.ReadAt == null)
            {
                leido = "unread";
            }

                    <div class="list-group-item @leido" style="position: static; z-index: 1;" data-id= "@Html.Raw(elemento.Id)">
                        <div class="list-left">
                            <label class="ckbox">
                                <input type="checkbox"><span></span>
                            </label>
                            <span class="markstar"><i class="glyphicon glyphicon-star"></i></span>
                        </div>
               
                        <div class="media" >
                            <div class="media-left">
                                @if (elemento.PersonFrom.Avatar == null || elemento.PersonFrom.Avatar.UrlPhoto == "")
                                {
                                    <img class="media-object img-circle" src="img/images_photos_user1.png" alt="">
                                }
                                else
                                {
                                    <img class="media-object img-circle" src="@Url.Content(elemento.PersonFrom.Avatar.UrlPhoto)" alt="" />
                                }
                                
                            </div>
                            <div class="media-body">
                                <span class="pull-right">@elemento.CreateAt</span>
                                <h5 class="media-heading">@elemento.PersonFrom.FirstName</h5>
                                <h5>@elemento.Subject</h5>
                            </div>
                            @HelperView.LimitDescriptionMail(elemento.Description)
                        </div>
                    </div>


        }
            
        </div>      
                <div class="contentpanel emailpanel">
                    <h3 class="nomail">Ningun email seleccionado</h3>
                @foreach (var elemento in Model)
                {
                    <div class="mailcontent hide" data-id= "@elemento.Id" id="@elemento.Id" value="@elemento.Id">
                   
                        <div class="email-header">
                            <div class="pull-right">
                                <div class="btn-group mr5">
                                    <button class="btn btn-default" type="button"><i class="fa fa-reply"></i></button>
                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Desplegar Dropdown</span>
                                    </button>
                                    <ul role="menu" class="dropdown-menu dm-icon pull-right">
                                        <li><a href="SendEmail"><i class="fa fa-reply-all"></i> Responder a todos</a></li>
                                        <li><a href="SendEmail"><i class="fa fa-arrow-right"></i> Reenviar</a></li>
                                        <li><button type="button" class="btn btn-link" onclick="PrintElem('#@elemento.Id')"><i class="fa fa-print"></i> Imprimir</button></li>
                                        @using (Html.BeginForm("DeleteMail", "Mail", FormMethod.Post, htmlAttributes: new { @Id = "" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <li><input type="hidden" name="mailId" value="@elemento.Id" /></li>
                                            <li><button type="submit" class="btn btn-link"><i class="fa fa-trash"></i>  Borrar Mensaje</button> </li>
                                        }
                                    </ul>
                                </div>

                                <div class="btn-group">
                                    <button class="btn btn-default" type="button"><i class="fa fa-angle-left"></i></button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-angle-right"></i></button>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        @if (elemento.PersonFrom.Avatar == null || elemento.PersonFrom.Avatar.UrlPhoto == "")
                                        {
                                        <img class="media-object img-circle" src="img/images_photos_user1.png" alt="">
                                        }
                                        else
                                        {
                                        <img class="media-object img-circle" src="@Url.Content(elemento.PersonFrom.Avatar.UrlPhoto)" alt="" />
                                        }
                                        
                                    </a>
                                </div>
                                <div class="media-body" id="@elemento.Id">
                                    <h4 class="media-heading">@elemento.PersonFrom.FirstName</h4>
                                    para: mi, 
                                    @foreach (var persona in elemento.PersonsTo)
                                    {
                                       @persona.FirstName;
                                       
                                    }
                                    
                                </div>
                            </div><!-- media -->
                        </div><!-- email-header -->

                        <hr>
                        
                        <h3 class="email-subject">@elemento.Subject <span class="markstar"><i class="glyphicon glyphicon-star"></i></span></h3>
                        <div class="email-body">
                            <p>@Html.Raw(elemento.Description)</p>
                        </div>

                        <br>
                        <hr>

                        <br><br>


                    </div><!-- mailcontent -->
                }
                
                
                @using (Html.BeginForm("ReplyMail", "Mail", FormMethod.Post, htmlAttributes: new { @Id = "" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="text" id="valorId" name="valorId" value="" hidden />
                     
                    <div class="form-group email-editor">
                          <div>Responder solo al Remitente</div>
                          @Html.TextArea("Mensaje", htmlAttributes: new { @class = "form-control", @Id = "wysiwyg", @placeholder = "Inserte contenido del mensaje", @rows = "10" })
                          <button class="btn btn-success">Enviar mensaje</button>
                    </div>
                }

                </div><!-- contentpanel -->
        
        
    </div><!-- emailcontent -->
    
</div>


@Scripts.Render("~/bundles/jquery")
@{
    var sessionMessage = EduClass.Web.Infrastructure.Sessions.MessageSession.GetMessage();
}

<script src="~/Scripts/app/helpersSite.js"></script>
<script type="text/javascript">

    function PrintElem(elem)
    {
        Popup($(elem).html());
    }

    function Popup(data)
    {
        var mywindow = window.open('', 'Mensaje', 'height=400,width=600');
        mywindow.document.write('<html><head><title>Mensaje</title>');
        /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10

        mywindow.print();
        mywindow.close();

        return true;
    }

</script>
<script>

$(document).ready(function()
{
  $('.emailcontent input[type=checkbox]').click(function() {
    if($(this).is(':checked')) {
      $(this).closest('.list-group-item').addClass('selected');
    } else {
        $(this).closest('.list-group-item').removeClass('selected');
    }

    $('.dropdown-toggle').dropdown();

  });


  var message = "@Html.Raw(sessionMessage.ToString())";
  if (message != "") {
      showMessageJS(message);
  }

  //PARA LEIDO
  $("#gruposDDL").click(function () {



  });

  // Mark a star
  $('.markstar').click(function() {
    if($(this).hasClass('starred')) {
      $(this).removeClass('starred');
    } else {
      $(this).addClass('starred');
    }
  });

  //Agrego la clase hide al coso del responder
  $('.email-editor').addClass('hide');

  // Clicking a message
  $('.list-group-item > .media').click(function () {

      //Recorre todos los elementos de la izquierda y les elimina la clase active
      $('.list-group-item').each(function (index, item) {
          $(item).removeClass('active');
      })

      //Recorre todos los elementos de la derecha y les elimina la clase active
      $('.mailcontent').each(function (index, item) {
          $(item).removeClass('active');
      })

      //Le agrega la clase active al elemento que hizo click
      $(this).addClass('active');

      //Le saco unread al parent
      $(this).parent().addClass('active').removeClass('unread');

      //Agrego la clase hide a nomail
      $('.nomail').addClass('hide');

      //Saco la clase hide al coso del responder
      $('.email-editor').removeClass('hide');

      var idMail = $(this).parent().data("id"); //Obtengo el valor del atributo Data-Id del Parent

      $('.list-group-item').find('[data-id="' + idMail + '"]').addClass('active');//ESTO ASI NO ANDA

      $('.mailcontent').addClass('hide');//Agrego el hide a todos los mensajes

      $('.mailcontent[data-id="' + idMail + '"]').removeClass('hide');//Saco el hide solo al seleccionado, Asi si anda el "find"

      //Seteo el idMail actual en un Input oculto
      $('#valorId').text(idMail);
      $('#valorId').val(idMail);

      //Marco como leido
      $.ajax({
          url: '@Url.Action("ReadMail", "Mail")',
          type: 'POST',
          contentType: 'application/json;',
          data: JSON.stringify({ id: idMail })
      });

  });


  // HTML5 WYSIWYG Editor
  $('#wysiwyg').wysihtml5({
      toolbar: {
          fa: true
      }
  });




});
</script>


