@model EduClass.Web.Infrastructure.ViewModels.MailViewModel

@{
    ViewBag.Title = "Enviar Mensaje";
}

<h2>Enviar un Mensaje</h2>
<div class="panel panel-site-traffic col-md-8 col-md-offset-2">
    <div class="panel-heading">
        <h4 class="panel-title text-success">Envia un mensaje a cualquier miembro del grupo</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Remitente", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor((string)ViewBag.FromUser, new { htmlAttributes = new { @class = "form-control", @Value= (string)ViewBag.FromUser, @readonly =""} })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PersonIdTo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.PersonIdTo, (SelectList)ViewBag.PersonsTo, htmlAttributes: new { @class = "form-control", @Id = "ddlPersons",  @multiple = "multiple", @data_plugin = "select2" })
                        @Html.ValidationMessageFor(model => model.PersonIdTo, "", new { @class = "text-danger" })
                    </div>
                </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.Description, htmlAttributes : new { @class = "form-control", @Id = "wysiwyg",  @placeholder = "Inserte contenido del mensaje", @rows="10" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-5 col-lg-8">
                            <input type="submit" value="Enviar" class="btn btn-success" />
                        </div>
                    </div>

                </div>
        }
    </div>
    <div>
        @Html.ActionLink("Volver", "Index")
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@{var sessionMessage = EduClass.Web.Infrastructure.Sessions.MessageSession.GetMessage(); }

<script src="~/Scripts/app/helpersSite.js"></script>
<script>
        $(document).ready(function () {
         
            var message = "@Html.Raw(sessionMessage.ToString())";
            if (message != "") {



                showMessageJS(message);
            }
        });
</script>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval") 
    <script type="text/javascript">
        $("#ddlPersons").select2({
            placeholder: "Destinatarios",
            maximumSelectionSize: 25
        });

        // HTML5 WYSIWYG Editor
        $('#wysiwyg').wysihtml5({
            toolbar: {
                fa: true,
                "image": false,
                "link": false
            }
        });

    </script>
}
