@model EduClass.Web.Infrastructure.ViewModels.MailViewModel

@{
    ViewBag.Title = "Enviar Mail";
}

<h2>Enviar un Email</h2>
<div class="panel panel-site-traffic col-md-8 col-md-offset-2">
    <div class="panel-heading">
        <ul class="panel-options">
            <li><a><i class="fa fa-refresh"></i></a></li>
        </ul>
        <h4 class="panel-title text-success">Envia un mensaje a cualquier miembro del grupo</h4>
        <p class="nomargin">Past 30 Days — Last Updated July 14, 2015</p>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.PersonEmailFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PersonEmailFrom, new { htmlAttributes = new { @class = "form-control", @Value=ViewBag.FromEmail, @readonly=""} })
                        @Html.ValidationMessageFor(model => model.PersonEmailFrom, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PersonIdTo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.PersonIdTo, (SelectList)ViewBag.PersonsTo, htmlAttributes: new { @class = "form-control", @Id = "ddlPersons",  @multiple = "multiple", @data_plugin = "select2" })
                        @Html.ValidationMessageFor(model => model.PersonIdTo, "", new { @class = "text-danger" })
                    </div>
                </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.Description, htmlAttributes : new { @class = "form-control", @Id = "wysiwyg",  @placeholder = "Inserte contenido del mensaje", @rows="10" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-5 col-lg-8">
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </div>

                </div>
        }
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@{var sessionMessage = EduClass.Web.Infrastructure.Sessions.MessageSession.GetMessage(); }

<script src="~/Scripts/app/helpersSite.js"></script>
<script>
        $(document).ready(function () {
            //$("#birthday").mask("99/99/9999");

            var form = $("#registerForm");

            form.steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                autoFocus: true,
                onStepChanging: function (event, currentIndex, newIndex) {
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();
                },
                onFinishing: function (event, currentIndex) {
                    form.validate().settings.ignore = ":disabled";
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    this.submit();
                }
            });

            form.validate({
                errorPlacement: function errorPlacement(error, element) { element.before(error); },
                rules: {

                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

            var message = "@Html.Raw(sessionMessage.ToString())";
            if (message != "") {



                showMessageJS(message);
            }
        });
</script>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval") 
    <script type="text/javascript">
        $("#ddlPersons").select2({
            placeholder: "Destinatarios",
            maximumSelectionSize: 25
        });

        // HTML5 WYSIWYG Editor
        $('#wysiwyg').wysihtml5({
            toolbar: {
                fa: true
            }
        });

    </script>
}
