@model List<EduClass.Entities.Group>
@using EduClass.Web.Infrastructure.Sessions
@using EduClass.Entities

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Grupos";
}

<div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">Mis grupos</h4>
    </div>
    <div class="panel-body">

        <div class="contentpanel">
                <div class="row">
                    <div class="col-md-12 people-list">

                        <div class="people-options clearfix">
                            <div class="btn-group pull-right people-pager">
                                
                                @if (UserSession.GetCurrentUser() is Teacher)
                                {
                                    <a href="@Url.Action("Create", "Groups")" class="btn btn-primary">
                                        Crear nuevo Grupo
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("JoinStudent","Groups")" class="btn btn-primary">
                                        Unirse a un nuevo Grupo
                                    </a>
                                }
                            </div>
                        </div><!-- people-options -->

                        <div class="table-responsive">
                            <table class="table table-bordered table-primary nomargin">
                                <thead>
                                    <tr>

                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        @if (UserSession.GetCurrentUser() is Teacher)
                                        {
                                            <th>Clave</th>
                                            <th>Estado</th>
                                            <th class="text-center">Alumnos</th>
                                            <th>Editar</th>
                                            <th>Deshabilitar/Habilitar</th>
                                        }
                                        else
                                        {
                                            <th></th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var elemento in Model)
                                    {
                                        <tr>

                                            
                                            @if (UserSession.GetCurrentUser() is Teacher)
                                            {
                                                <td>@elemento.Id</td>
                                                <td>@elemento.Name</td>
                                                <td>@elemento.Description</td>
                                                <td>@elemento.Key</td>
                                                <td class="text-center">@HelperView.LabelEnableOrDisable(elemento.Enabled)</td>
                                                <td class="text-center">@elemento.Students.Count</td>
                                                <td>
                                                    <ul class="table-options">
                                                        <li><a href="@Url.Action("Edit", "Groups", new { id = elemento.Id })"><i class="fa fa-pencil"></i></a></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="table-options">
                                                        @using (Html.BeginForm("Disable", "Groups", FormMethod.Post, htmlAttributes: new { @Id = @elemento.Id }))
                                                        {


                                                            @Html.AntiForgeryToken()
                                                            <li><input type="hidden" name="groupId" value="@elemento.Id" /></li>
                                                            <li><button type="submit" class="btn-link"><i class="fa fa-close"></i></button></li>
                                                        }
                                                    </ul>
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="padding-top: 20px">@elemento.Id</td>
                                                <td style="padding-top: 20px">@elemento.Name</td>
                                                <td style="padding-top: 20px">@elemento.Description</td>
                                                <td>
                                                    <a href="@Url.Action("DetachStudent", "Groups", new { id = elemento.Id })" class="btn btn-danger pull-right"><i class="fa fa-user-times"></i> Salir del grupo</a>
                                                </td>
                                            }
                                           
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div><!-- table-responsive -->

                    </div><!-- col-sm-8 -->


                </div><!-- row -->

        </div><!-- contentpanel -->

    </div>
</div>

