@model EduClass.Web.Infrastructure.ViewModels.TestViewModel

@{
    ViewBag.Title = "Crear Prueba Diagnostica";
}

@section styles{
    
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

<div class="panel panel-site-traffic col-md-8 col-md-offset-2">
    <div class="panel-heading">
        <ul class="panel-options">
            <li><a><i class="fa fa-refresh"></i></a></li>
        </ul>
        <h4 class="panel-title text-success">Crear una prueba diagnostica para los Alumnos </h4>

    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
                @Html.Hidden(Model.GroupId.ToString())
    
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class='input-group date evControl'>
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class='input-group date evControl'>
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Crear" class="btn btn-primary pull-right" />
                        <a href="@Url.Action("Index")" class="btn btn-default-active pull-right mr10">Volver</a>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>

@section scripts
{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/es.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
        
            $('.evControl').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY HH:mm'
            });
        })
    </script>
}