@model IList<EduClass.Web.Infrastructure.ViewModels.ViewStudentsTestViewModel>

@{
    ViewBag.Title = "Ver test de los estudiantes";
    var test = (EduClass.Entities.Test)ViewBag.Test;
}

<div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">Pruebas entregadas. (@test.Name)</h4>
    </div>
    <div class="panel-body">

        <div class="people-list">

            <div class="people-options clearfix">

                <div class="btn-group pull-right people-pager">
                    <a href="@Url.Action("Index")" id="btnBack" class="btn btn-default-active pull-right">
                        Volver
                    </a>
                </div>

            </div><!-- people-options -->
        </div>

        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-primary nomargin">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th>Nombre</th>
                            <th>Usuario</th>
                            <th>Correctas</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.Student.Id</td>
                                    <td>@item.Student.FirstName @item.Student.LastName</td>
                                    <td>@item.Student.UserName</td>
                                    <td>@item.ReponseCorrect / @test.Questions.Count</td>
                                    <td class="text-center">
                                        <a href="@Url.Action("ViewResponsesStudent", new { idTest = test.Id, idStudent = item.Student.Id })" title="" data-placement="top" data-toggle="tooltip" class="tooltips" type="button" data-original-title="Ver lista de preguntas">
                                            <i class="fa fa-question" style="font-size: 18px"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>