
@helper LimitDescriptionMail(string contenido)
{
    var texto = System.Text.RegularExpressions.Regex.Replace(contenido, @"<(.|\n)*?>", string.Empty);
    
    if (texto.Length > 100)
    {
            <p>@texto.Substring(0, 100)</p>
    }
    else
    {

            <p>@texto</p>
    }


}

@helper LimitContentPage(string contenido, int lenght)
{
    var texto = System.Text.RegularExpressions.Regex.Replace(contenido, @"<(.|\n)*?>", string.Empty);
    if (contenido.Length > lenght)
    {
            <p>@texto.Substring(0, lenght)</p>
    }
    else
    {

           <p>@texto</p>
    }


}

@helper LabelEnableOrDisable(bool value)
{
    if (value)
    {
        <span class="label label-success">Activa</span>
    }
    else
    {
        <span class="label label-danger">Desactivada</span>
    }

}

@helper FormatDateTime(DateTime value)
{
    <span>@value.ToString("dd/MM/yyyy HH:mm")</span>
}




