@using EduClass.Web.Infrastructure.Sessions
@using EduClass.Entities
@{
    DateTime cumple = UserSession.GetCurrentUser().Birthday ?? DateTime.Now;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title | Edu.Class</title>
    <link rel="shortcut icon" href="~/Content/images/logo.ico" type="image/x-icon" />
    <link rel="icon" href="~/Content/images/logo.ico" type="image/ico" />
    @Styles.Render("~/Content/template")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <style>
        #imgGetContacts {
            width: 200px;
            height: 200px;
        }

        #imgAvatarTop {
            width: 24px;
            height: 24px;
        }

        #imgAvatarLeft {
            width: 48px;
            height: 48px;

        }

        #imgAvatarMe {
            width: 128px;
            height: 128px;

        }

        #imgAvatarBoard {
            width: 48px;
            height: 48px;

        }
         #avatarTeacherContacts {
            width: 48px;
            height: 48px;
        }
         #avatarMailSeleccionado {
            width: 48px;
            height: 48px;
        }

        #avatarListaMails {
            width: 36px;
            height: 36px;
        }

         
    </style>
</head>
<body>
    <header>
        <div class="headerpanel">
            @Html.Partial("~/Views/Menu/_menuTop.cshtml")
            
        </div><!-- header-->
    </header>

    <section>

        <div class="leftpanel">
            <div class="leftpanelinner">

                <!-- ################## LEFT PANEL PROFILE ################## -->

                <div class="media leftpanel-profile">
                    <div class="media-left">
                        <a href="@Url.Action("Me", "Users")">
                       @try
                       {
                           if (UserSession.GetCurrentUser().Avatar == null || UserSession.GetCurrentUser().Avatar.UrlPhoto == "")
                           {
                            <img id="imgAvatarLeft" src="@Url.Content("~/Content/images/default.png")" alt="" class="media-object img-circle">
                           }
                           else
                           {
                            <img id="imgAvatarLeft"src="@Url.Content(UserSession.GetCurrentUser().Avatar.UrlPhoto)" alt="" class="media-object img-circle">
                           }
                       }
                       catch (Exception ex)
                       {
                            <img id="imgAvatarLeft" src="@Url.Content("~/Content/images/default.png")" alt="" class="media-object img-circle">
                       }
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">@UserSession.GetCurrentUser().FirstName @UserSession.GetCurrentUser().LastName<a data-toggle="collapse" data-target="#loguserinfo" class="pull-right"><i class="fa fa-angle-down"></i></a>  </h4>
                        @if (@UserSession.GetCurrentUser() is Student)
                        {
                            <span>Estudiante</span>
                        }
                        else if (@UserSession.GetCurrentUser() is Teacher)
                        {
                            <span>Profesor</span>
                        }

                    </div>
                </div><!-- leftpanel-profile -->

                <div class="leftpanel-userinfo collapse" id="loguserinfo">
                    <h5 class="sidebar-title">Contacto</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label class="pull-left">Email</label>
                            <span class="pull-right">@UserSession.GetCurrentUser().Email</span>
                        </li>
                        <li class="list-group-item">
                            <label class="pull-left">Cumpleaños</label>
                            <span class="pull-right">@cumple.ToShortDateString()</span>
                        </li>
                        <li class="list-group-item">
                            <label class="pull-left">Cédula</label>
                            <span class="pull-right">@UserSession.GetCurrentUser().IdentificationCard</span>
                        </li>
                    </ul>
                </div><!-- leftpanel-userinfo -->

                <div class="tab-content">

                    <!-- ################# MAIN MENU ################### -->
                    @Html.Partial("~/Views/Menu/_menuVertical.cshtml")
                </div><!-- tab-content -->

            </div><!-- leftpanelinner -->
        </div><!-- leftpanel -->

        <div class="mainpanel">

            <div class="contentpanel">
                @RenderBody()
            </div><!-- contentpanel -->
        </div><!-- mainpanel -->
    </section>

   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/template")
    @RenderSection("scripts", required: false)

    @{var sessionMessage = EduClass.Web.Infrastructure.Sessions.MessageSession.GetMessage(); }
    <script type="text/javascript">
        var message = "@Html.Raw(sessionMessage.ToString())";
        if (message != "") {

            showMessageJS(message);
        }
    </script>
</body>
</html>
