@using EduClass.Web.Infrastructure.Sessions;
@using EduClass.Entities;
<div class="tab-pane active" id="mainmenu">
    <h5 class="sidebar-title">Menú Principal</h5>
    <ul class="nav nav-pills nav-stacked nav-quirk">
        <li><a href="@Url.Action("Index", "Board")"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
        <li><a href="@Url.Action("Index", "Mail", new { type = "Recibidos" })"><i class="fa fa-inbox"></i> <span>Mensajes</span></a></li>
        <li><a href="@Url.Action("Index", "Groups")"><i class="fa fa-users"></i> <span>Grupos</span></a></li>
        @if (UserSession.GetCurrentUser() is Teacher)
        {
            <li><a href="@Url.Action("Index", "FilesLibrary")"><i class="fa fa-folder"></i> <span>Mis Archivos</span></a></li>
        }
        <li><a href="@Url.Action("GetContacts", "Groups")"><i class="fa fa-book"></i> <span>Contactos</span></a></li>
        <li><a href="@Url.Action("Index", "Events")"><i class="fa fa-calendar"></i> <span>Eventos</span></a></li>
        <li><a href="@Url.Action("Index", "Pages")"><i class="fa fa-weibo"></i> <span>Páginas Públicas</span></a></li>
        @if (UserSession.GetCurrentUser() is Teacher)
        {
            <li><a href="@Url.Action("Index", "Tests")"><i class="fa fa-paperclip"></i> <span>Pruebas Diagnósticas</span></a></li>
        }
        @if (UserSession.GetCurrentUser() is Teacher)
        {
            <li><a href="@Url.Action("Index", "Califications")"><i class="fa fa-sort-numeric-asc"></i> <span>Calificaciones</span></a></li>
        }
        @if (UserSession.GetCurrentUser() is Student)
        {
            <li><a href="@Url.Action("MyTests", "Tests")"><i class="fa fa-paperclip"></i> <span>Mis Pruebas</span></a></li>
        }
        <li class="nav-parent" >
            <a href=""><i class="fa fa-list-alt"></i> <span>Listado de Grupos</span></a>
            <ul class="children" id="gruposDDLVertical">
                @try
                {

                    foreach (Group item in UserSession.GetUserGroups())
                    {
                        <li><a href="#" id="@item.Id">@item.Name</a></li>
                    }
                }
                catch (Exception ex)
                {
                    <li><a href="#">No estas en ningun grupo</a></li>
                }
                
            </ul>
        </li>
    </ul>

   
    
</div><!-- tab-pane -->
@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {

       

        $("#gruposDDLVertical li a").click(function () {

                var selectedId = $(this).attr('id');

                $.ajax({
                    url: '@Url.Action("ChangeGroup", "Groups")',
                    type: 'POST',
                    contentType: 'application/json;',
                    data: JSON.stringify({ id: selectedId }),
                    success: function() {
                        location.reload();//Recarga la pagina entera

                    }
                });

                //$("#botonMenu:first-child").text($(this).text());
                //$("#botonMenu:first-child").val($(this).text());

            });


        });

    
</script>