@model EduClass.Web.Infrastructure.ViewModels.PersonViewModel
@using EduClass.Web.Infrastructure.Sessions
@using EduClass.Entities

@{
    ViewBag.Title = "Perfil";




}

<div class="row profile-wrapper">
    <div class="col-xs-12 col-md-3 col-lg-2 profile-left">
        <div class="profile-left-heading">
            
            <a href="" class="profile-photo">
                @try
                {
                    if (UserSession.GetCurrentUser().Avatar == null || UserSession.GetCurrentUser().Avatar.UrlPhoto == "")
                    {
                        <img id="imgAvatarMe" class="img-circle img-responsive" src="@Url.Content("~/Content/images/default.png")" alt="">
                    }
                    else
                    {
                        <img id="imgAvatarMe" class="img-circle img-responsive" src="@Url.Content(UserSession.GetCurrentUser().Avatar.UrlPhoto)" alt="">
                    }
                }
                catch (Exception ex)
                {
                    <img id="imgAvatarMe" class="img-circle img-responsive" src="@Url.Content("~/Content/images/default.png")" alt="">
                }
            </a>
            <h2 class="profile-name">@UserSession.GetCurrentUser().FirstName @UserSession.GetCurrentUser().LastName</h2>
            @if (@UserSession.GetCurrentUser() is Student)
            {
                <h4 class="profile-designation">Estudiante</h4>
            }
            else if (@UserSession.GetCurrentUser() is Teacher)
            {
                <h4 class="profile-designation">Profesor</h4>
            }

            <ul class="list-group">
                <li class="list-group-item">Posts <a href="@Url.Action("Index","Board")">@UserSession.GetCurrentUser().Posts.Count</a></li>
                <li class="list-group-item">Archivos subidos <a href="@Url.Action("Index","FilesLibrary")">@UserSession.GetCurrentUser().Files.Count</a></li>
            </ul>

            <a href="@Url.Action("Edit","Users")" class="btn btn-danger btn-quirk btn-block profile-btn-follow">
                Editar perfil
            </a>
        </div>
        <div class="profile-left-body">

            <h4 class="panel-title">Email</h4>
            <p><i class="glyphicon glyphicon-envelope mr5"></i> @UserSession.GetCurrentUser().Email</p>

            <hr class="fadeout">

            <h4 class="panel-title">Cumpleaños</h4>

            <p><i class="glyphicon glyphicon-gift mr5"></i> @UserSession.GetCurrentUser().Birthday</p>

            <hr class="fadeout">

            <h4 class="panel-title">Cédula</h4>
            <p><i class="glyphicon glyphicon-pencil mr5"></i> @UserSession.GetCurrentUser().IdentificationCard</p>

        </div>
    </div>
    <div class="col-md-6 col-lg-8 profile-right">
        <div class="profile-right-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified nav-line">
                <li class="active"><a href="#activity" data-toggle="tab"><strong>Actividad</strong></a></li>
                <li><a href="#photos" data-toggle="tab"><strong>Archivos (@UserSession.GetCurrentUser().Files.Count)</strong></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="activity">
                    @foreach (var post in UserSession.GetCurrentUser().Posts)
                    {
                        <div class="panel panel-post-item">
                            <div class="panel-heading">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img alt="" src="@Url.Content(UserSession.GetCurrentUser().Avatar.UrlPhoto)" class="media-object img-circle">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">@post.Person.FirstName @post.Person.LastName</h4>
                                        <p class="media-usermeta">
                                            <span class="media-time">@post.CreatedAt</span>
                                        </p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- panel-heading -->
                            <div class="panel-body">
                                <p>@post.Content</p>
                                <ul class="list-unstyled list-attachments">
                                    @foreach (var archivo in post.Files)
                                    {
                                        using (Html.BeginForm("DownloadFile", "FilesLibrary", FormMethod.Post, htmlAttributes: new { @Id = archivo.Id }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <li><input type="hidden" name="fileId" value="@archivo.Id" /></li>
                                            <li><i class="fa fa-file"></i><button type="submit" class="btn btn-link">@archivo.Name</button> </li>
                                        }

                                    }
                                </ul>

                            </div>
                            <div class="panel-footer">
                                <ul class="list-inline">

                                    <li><a href="@Url.Action("Index","Board")"><i class="glyphicon glyphicon-comment"></i> Comentarios (@post.Replays.Count)</a></li>
                                </ul>
                            </div>

                        </div><!-- panel panel-post -->
                    }
                </div><!-- tab-pane -->

                <div class="tab-pane" id="photos">
                    <div class="row filemanager">
                        @foreach (var archivo in UserSession.GetCurrentUser().Files)
                        {
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 video">
                                <div class="thmb">
                                    <div class="thmb-prev">

                                        @if (System.Web.MimeMapping.GetMimeMapping(archivo.Name).Contains("image"))
                                        {
                                            <img src="@Url.Content(archivo.UrlFile)" class="img-responsive" alt="" />
                                        }
                                        else if (System.Web.MimeMapping.GetMimeMapping(archivo.Name).Contains("audio"))
                                        {
                                            <img src="@Url.Content("~/Content/images/images_mp3.png")" class="img-responsive" alt="" />
                                        }
                                        else if (System.Web.MimeMapping.GetMimeMapping(archivo.Name).Contains("office"))
                                        {
                                            <img src="@Url.Content("~/Content/images/images_doc.png")" class="img-responsive" alt="" />
                                        }
                                        else
                                        {
                                            <img src="@Url.Content("~/Content/images/images_file.png")" class="img-responsive" alt="" />
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>

    </div><!-- row -->
</div>
