@model EduClass.Web.Infrastructure.ViewModels.PersonViewModel
@using EduClass.Web.Infrastructure.Sessions
@using EduClass.Entities

@{
    ViewBag.Title = "Perfil";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="mainpanel">

      <div class="contentpanel">

        <div class="row profile-wrapper">
          <div class="col-xs-12 col-md-3 col-lg-2 profile-left">
            <div class="profile-left-heading">
              <ul class="panel-options">
                <li><a><i class="glyphicon glyphicon-option-vertical"></i></a></li>
              </ul>
              <a href="" class="profile-photo">
              @try
              {
              	    if (UserSession.GetCurrentUser().Avatar == null || UserSession.GetCurrentUser().Avatar.UrlPhoto == "")
                    {
              			<img class="img-circle img-responsive" src="@Url.Content("~/Content/images/default.png")" alt="">
              		}
              		else
                    {
                        <img class="img-circle img-responsive" src="@Url.Content(UserSession.GetCurrentUser().Avatar.UrlPhoto)" alt="">
                    }
              }
              catch (Exception ex)
              {
                <img class="img-circle img-responsive" src="@Url.Content("~/Content/images/default.png")" alt="">
              }
              </a>
              <h2 class="profile-name">@UserSession.GetCurrentUser().FirstName @UserSession.GetCurrentUser().LastName</h2>
              @if (@UserSession.GetCurrentUser() is Student)
              {
                    <h4 class="profile-designation">Estudiante</h4>
              }
              else if (@UserSession.GetCurrentUser() is Teacher)
              {
                    <h4 class="profile-designation">Profesor</h4>
              }

              <ul class="list-group">
                <li class="list-group-item">Posts <a href="timeline.html">1,333</a></li>
                <li class="list-group-item">Following <a href="people-directory.html">541</a></li>
                <li class="list-group-item">Followers <a href="people-directory-grid.html">32,434</a></li>
              </ul>

              <a href="@Url.Action("Edit","Users")">
              <button type="button" class="btn btn-danger btn-quirk btn-block profile-btn-follow">Editar Perfil</button>
              </a>
            </div>
            <div class="profile-left-body">
              <h4 class="panel-title">Sobre mi</h4>
              <p>Soy un estudiante mediocre.</p>
              <p>O Profesor mediocre x2.</p>

              <hr class="fadeout">

              <h4 class="panel-title">Email</h4>
              <p><i class="glyphicon glyphicon-envelope mr5"></i> @UserSession.GetCurrentUser().Email</p>

              <hr class="fadeout">

              <h4 class="panel-title">Cumpleaños</h4>
              <p><i class="glyphicon glyphicon-gift mr5"></i> @UserSession.GetCurrentUser().Birthday</p>

              <hr class="fadeout">

              <h4 class="panel-title">Cédula</h4>
              <p><i class="glyphicon glyphicon-pencil mr5"></i> @UserSession.GetCurrentUser().IdentificationCard</p>

              <hr class="fadeout">

              <h4 class="panel-title">Social</h4>
              <ul class="list-inline profile-social">
                <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
              </ul>

            </div>
          </div>
          <div class="col-md-6 col-lg-8 profile-right">
            <div class="profile-right-body">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs nav-justified nav-line">
                <li class="active"><a href="#activity" data-toggle="tab"><strong>Activity</strong></a></li>
                <li><a href="#photos" data-toggle="tab"><strong>Photos (20)</strong></a></li>
                <li><a href="#music" data-toggle="tab"><strong>Music (10)</strong></a></li>
                <li><a href="#places" data-toggle="tab"><strong>Places (5)</strong></a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="activity">

                  <div class="panel panel-post-item">
                    <div class="panel-heading">
                      <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img alt="" src="img/images_photos_profilepic.png" class="media-object img-circle">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Barbara Balashova</h4>
                          <p class="media-usermeta">
                            <span class="media-time">July 06, 2015 8:30am</span>
                          </p>
                        </div>
                      </div><!-- media -->
                    </div><!-- panel-heading -->
                    <div class="panel-body">
                      <p>As a web designer it’s your job to help users find their way to what they’re looking for. It can be easy to put the needs of your users to one side, but knowing your users, understanding their roles, goals, motives and behavior will confirm how you structure your navigation model. <a href="http://goo.gl/QTccRE" target="_blank">#information</a> <a href="http://goo.gl/QTccRE" target="_blank">#design</a></p>
                      <p>Source: <a href="http://goo.gl/QTccRE" target="_blank">http://goo.gl/QTccRE</a></p>

                    </div>
                    <div class="panel-footer">
                      <ul class="list-inline">
                        <li><a href=""><i class="glyphicon glyphicon-heart"></i> Like</a></li>
                        <li><a><i class="glyphicon glyphicon-comment"></i> Comments (0)</a></li>
                        <li class="pull-right">5 liked this</li>
                      </ul>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Write some comments">
                    </div>
                  </div><!-- panel panel-post -->

                  <div class="panel panel-post-item">
                    <div class="panel-heading">
                      <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img alt="" src="img/images_photos_profilepic.png" class="media-object img-circle">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Barbara Balashova</h4>
                          <p class="media-usermeta">
                            <span class="media-time">July 05, 2015 11:33pm</span>
                          </p>
                        </div>
                      </div><!-- media -->
                    </div><!-- panel-heading -->
                    <div class="panel-body">
                      <p>Improving the trustworthiness of a website can help improve its conversion rate, whether we’re talking about buying a product, downloading an ebook or subscribing to a newsletter. <a href="">#trust</a> <a href="">#security</a></p>
                      <p>Source: <a href="http://goo.gl/LxDM8K" target="_blank">http://goo.gl/LxDM8K</a></p>
                    </div>
                    <div class="panel-footer">
                      <ul class="list-inline">
                        <li><a href=""><i class="glyphicon glyphicon-heart"></i> Like</a></li>
                        <li><a><i class="glyphicon glyphicon-comment"></i> Comments (0)</a></li>
                        <li class="pull-right">0 liked this</li>
                      </ul>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Write some comments">
                    </div>
                  </div><!-- panel panel-post -->

                  <div class="panel panel-post-item">
                    <div class="panel-heading">
                      <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img alt="" src="img/images_photos_profilepic.png" class="media-object img-circle">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Barbara Balashova <span>scheduled a meeting with</span> Elen Adarna</h4>
                          <p class="media-usermeta">
                            <span class="media-time">July 06, 2015 8:30am</span>
                          </p>
                        </div>
                      </div><!-- media -->
                    </div><!-- panel-heading -->
                    <div class="panel-body nopaddingbottom">
                      <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object width80" src="img/images_image.png" alt="">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="">Telling Your Life Story: Memoir Workshop Series</a></h4>
                          <p>Monday, July 06, 2015 - Tuesday, July 07, 2015 <br>
                            SF Bay Theater <br>
                            San Francisco, California, USA
                          </p>
                        </div>
                      </div>
                    </div><!-- panel-body -->
                  </div><!-- panel panel-post -->

                  <div class="panel panel-post-item">
                    <div class="panel-heading">
                      <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img alt="" src="img/images_photos_profilepic.png" class="media-object img-circle">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Barbara Balashova <span>added new article from category</span> UI Workflow</h4>
                          <p class="media-usermeta">
                            <span class="media-time">July 06, 2015 8:30am</span>
                          </p>
                        </div>
                      </div><!-- media -->
                    </div><!-- panel-heading -->
                    <div class="panel-body nopaddingbottom">
                      <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object width80" src="img/images_image.png" alt="">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="">Tips for Designing in the Browser</a></h4>
                          <p>Its often thought that designing in the browser is a modern approach to web design. In fact, before the advent of tools such as Photoshop, there was little other choice --- <a href="http://goo.gl/SGfFJd" target="_blank">http://goo.gl/SGfFJd</a></p>
                        </div>
                      </div>
                    </div><!-- panel-body -->
                  </div><!-- panel panel-post -->

                </div><!-- tab-pane -->

                <div class="tab-pane" id="photos">
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="tab-pane" id="music">
                  Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-2 profile-sidebar">
            <div class="row">
              <div class="col-sm-6 col-md-12">
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">People You May Know</h4>
                  </div>
                  <div class="panel-body">
                    <ul class="media-list user-list">
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object img-circle" src="img/images_photos_user9.png" alt="">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="">Ashley T. Brewington</a></h4>
                          <span>5,323</span> Followers
                        </div>
                      </li>
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object img-circle" src="img/images_photos_user10.png" alt="">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="">Roberta F. Horn</a></h4>
                          <span>4,100</span> Followers
                        </div>
                      </li>
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object img-circle" src="img/images_photos_user3.png" alt="">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="">Jennie S. Gray</a></h4>
                          <span>3,508</span> Followers
                        </div>
                      </li>
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object img-circle" src="img/images_photos_user4.png" alt="">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="">Alia J. Locher</a></h4>
                          <span>3,508</span> Followers
                        </div>
                      </li>
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object img-circle" src="img/images_photos_user6.png" alt="">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="">Jamie W. Bradford</a></h4>
                          <span>2,001</span> Followers
                        </div>
                      </li>
                    </ul>
                  </div>
                </div><!-- panel -->
              </div>
              <div class="col-sm-6 col-md-12">
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">Following Activity</h4>
                  </div>
                  <div class="panel-body">
                    <ul class="media-list user-list">
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object img-circle" src="img/images_photos_user2.png" alt="">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading nomargin"><a href="">Floyd M. Romero</a></h4>
                          is now following <a href="">Christina R. Hill</a>
                          <small class="date"><i class="glyphicon glyphicon-time"></i> Just now</small>
                        </div>
                      </li>
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object img-circle" src="img/images_photos_user10.png" alt="">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading nomargin"><a href="">Roberta F. Horn</a></h4>
                          commented on <a href="">HTML5 Tutorial</a>
                          <small class="date"><i class="glyphicon glyphicon-time"></i> Yesterday</small>
                        </div>
                      </li>
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object img-circle" src="img/images_photos_user3.png" alt="">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading nomargin"><a href="">Jennie S. Gray</a></h4>
                          posted a video on <a href="">The Discovery</a>
                          <small class="date"><i class="glyphicon glyphicon-time"></i> June 25, 2015</small>
                        </div>
                      </li>
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object img-circle" src="img/images_photos_user5.png" alt="">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading nomargin"><a href="">Nicholas T. Hinkle</a></h4>
                          liked your video on <a href="">The Discovery</a>
                          <small class="date"><i class="glyphicon glyphicon-time"></i> June 24, 2015</small>
                        </div>
                      </li>
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object img-circle" src="img/images_photos_user2.png" alt="">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading nomargin"><a href="">Floyd M. Romero</a></h4>
                          liked your photo on <a href="">My Life Adventure</a>
                          <small class="date"><i class="glyphicon glyphicon-time"></i> June 24, 2015</small>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div><!-- panel -->
              </div>
            </div><!-- row -->

          </div>
        </div><!-- row -->
      </div>
    </div>
}

