@model IEnumerable<EduClass.Entities.Question>

@{
    ViewBag.Title = "Index";

    Dictionary<int, string> _dictionaryQuestionType = new Dictionary<int, string>();

    _dictionaryQuestionType.Add(0, "Verdadero o Falso");
    _dictionaryQuestionType.Add(1, "Redacción");
    _dictionaryQuestionType.Add(2, "Opciones");
    _dictionaryQuestionType.Add(3, "Marcar correcta");
    
    var i = 1;
}

<div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">Lista de preguntas </h4>
    </div>
    <div class="panel-body">
        <div class="people-list">
            <div class="people-options clearfix">
                <div class="btn-group pull-right people-pager">
                    <a href="@Url.Action("Create", new { idTest = ViewBag.TestId })" class="btn btn-primary pull-right">Agregar pregunta</a>
                    <a href="@Url.Action("Index", "Tests")" class="btn btn-default-active pull-right mr10">Volver</a>
                </div>
            </div><!-- people-options -->
        </div>

        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-primary nomargin">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th>Pregunta</th>
                            <th>Tipo pregunta</th>
                            <th>Fecha de Creación</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@i</td>
                                <td>@item.Content</td>
                                <td>@_dictionaryQuestionType[Convert.ToInt32(item.QuestionType)]</td>
                                <td>@item.CreatedAt.ToString("dd/MM/yyyy HH:mm")</td>
                                <td class="text-center">
                                    <a href="@Url.Action("Edit", new { id = item.Id })"><i class="fa fa-edit" style="font-size: 18px"></i></a> |
                                    <a href="@Url.Action("Disable", new { id = item.Id })"><i class="fa fa-trash" style="font-size: 18px"></i></a>
                                </td>
                            </tr>

                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

